---
import { getCollection } from 'astro:content';
import App from '../../layouts/App.astro';

const posts = (await getCollection('sportheim'));
---
<App>
	<main class="container mx-auto prose p-4 lg:py-10">
		{
			posts.map(async (post) => {
            	const { Content } = await post.render();
            	return (
						<Content />
				)
          	})
		}
	</main>
</App>