---
import { getCollection } from 'astro:content';
import App from '../../layouts/App.astro';
import HpCard from '../../components/HpCard.astro';
import HpStage from '../../components/HpStage.astro';

const posts = (await getCollection('sportheim'));
const title = "Sportheim - SCO-OGV Oberfüllbach";
const description = "Überblick über Aktivitäten in und um unser Sportheim in Oberfüllbach.";
---
<App title={title} description={description}>
  <HpStage image='/src/media/buehne-sportheim.jpg' title="Sportheim" />
	<div class="main container grid gap-4 mx-auto p-4 overflow-hidden">
		<aside class="news">
			<HpCard>
				<div class="flex gap-2 justify-between items-center" slot="title">
				<h2 class="font-bold">Öffnungszeiten</h2>
				</div>
				<ul class="prose list-disc pl-4 list-outside">
					<li class="">
						jeden Sonntag ab 18:30 Uhr 
					</li>
					<li class="">
						jeden 1. Freitag im Monat ab 19:30 Uhr (ohne Gewähr)
					</li>
				</ul>
			</HpCard>
		</aside>
		<main class="content prose max-w-none">
			{
				posts.map(async (post) => {
					const { Content } = await post.render();
					return (
							<Content />
					)
				  })
			}
			<!-- <h1>Öffnungszeiten als eigene Collection machen, dann im Widget nur aufrufen und anzeigen</h1> -->
		</main>
	</div>
</App>

<style>

	@media (max-width:767px) {
		.main {
			grid-area: main;
			display: flex;
			flex-direction: column;
		}
	}
	@media (min-width: 768px) {
		.main {
			grid-area: main;
			grid-template-areas:
			  "content side1"
			  "content side2"
			  "content side3";
			grid-template-columns: 60% 40%;
			grid-template-rows: auto auto 1fr;
		}
		.content {
			grid-area: content;
		}
		.side1 {
			grid-area: side1;
		}
		.side2 {
			grid-area: side2;
		}
		.side3 {
			grid-area: side3;
		}
	}
		
	@media (min-width: 1280px) {
		.main {
			grid-template-columns: 66% 34%;
		}
	}
</style>