---
import HpStage from "../components/HpStage.astro";
import App from "../layouts/App.astro";
---

<App>
  <HpStage />
  <div class="main container grid gap-4 mx-auto p-4 overflow-hidden">
	<main class="content prose py-4 mx-auto">
		<h1>Fehler 404 – Seite nicht gefunden</h1>
        <p>
            Kehren Sie zu <a href="/">Startseite</a> zurück.
        </p>
	</main>
  </div>
</App> 
