---
import HpStage from "../components/HpStage.astro";
import App from "../layouts/App.astro";
---

<App>
  <HpStage />
  <div class="main container grid gap-4 mx-auto p-4 overflow-hidden">
    <main class="content prose py-4 mx-auto">
      <h1>Impressum</h1>

      <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
      <p>
        SCO-OGV Oberf&uuml;llbach 1963 e.V. Sportheim<br />
         L&uuml;tzelbucher Str. 7<br />
         96237 Ebersdorf-Oberf&uuml;llbach
      </p>

      <p>
        <strong>Vertreten durch:</strong><br />
        Steffen Heyn
      </p>

      <h2>Kontakt</h2>
      <p>
        Telefon: 09560 / 8609<br />
         E-Mail: info@sc-oberfuellbach.de
      </p>

      <h2>
        Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
      </h2>
      <p>
        Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
        vor einer Verbraucherschlichtungsstelle teilzunehmen.
      </p>

      <p>
        Quelle: <a href="https://www.e-recht24.de/impressum-generator.html"
          >https://www.e-recht24.de/impressum-generator.html</a>
      </p>
    </main>
  </div>
</App>
