---
import { getCollection } from "astro:content";
import HpStage from "../components/HpStage.astro";
import App from "../layouts/App.astro";
import HpCard from "../components/HpCard.astro";
import BadgeMini from "../components/BadgeMini.astro";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection('start')).sort(
	(a, b) => a.data.order.valueOf() - b.data.order.valueOf()
);

// TODO Events + News
const events = (await getCollection('veranstaltungen')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).reverse();
---

<App>
  <HpStage />
  <div class="main container grid gap-4 mx-auto px-2 md:py-4 overflow-hidden">
	<aside class="news">
		<HpCard>
			<div class="flex gap-2 justify-between items-center" slot="title">
				<h2 class="font-bold text-lg">Aktuelles</h2>
				<a class="text-xs text-center font-semibold inline-flex gap-2 items-center py-2 px-4 justify-center rounded-full bg-slate-100 hover:bg-slate-200" href="/veranstaltungen/" title="Alle Veranstaltungen anzeigen">Alle Termine →</a>
			</div>
				<ul class="whitespace-nowrap">
					<li class="">
						<span class="inline-flex flex-row gap-2 overflow-hidden max-w-full block py-2">
							<BadgeMini>
								<span class="font-semibold"><span class="day">Fr,</span> <span>17.07.2023</span></span>
							</BadgeMini>
							<span class="overflow-hidden text-ellipsis">Neue Website online langer Satz hier!</span>
						</span>
					</li>
					{
						events.map((event) => (
							<li>
								<a href={`/blog/${event.slug}/`} title={event.data.title} class="inline-flex flex-row gap-2 overflow-hidden max-w-full block py-2">
									<BadgeMini>
										<span class="font-semibold"><span class="day">{event.data.eventDate.toLocaleDateString("de-DE", { weekday: 'short' })},</span> <span><FormattedDate date={event.data.eventDate} /></span></span>
									</BadgeMini>
									<span class="underline underline-offset-2 decoration-slate-300 hover:decoration-slate-500 overflow-hidden text-ellipsis">{event.data.title}</span>
								</a>
							</li>
						))
					}
				</ul>
		</HpCard>
	</aside>
	<main class="content prose py-6 lg:py-10">
		{
			posts.map(async (post) => {
            	const { Content } = await post.render();
            	return (
						<Content />
				)
          	})
		}
	</main>
  </div>
</App> 

<style>
	.day {
		display: inline-block;
		width: 3ch;
	}
	aside {
		min-width: 0; /* grid hacky */
	}

	@media (max-width:767px) {
		.main {
			grid-area: main;
			grid-template-areas:
			  "news"
			  "content"
			  "sidebar";
			grid-template-columns: 1fr;
			grid-template-rows: 2fr;
		  }
		  .content {
			grid-area: content;
		  }
		  aside {
			grid-area: sidebar;
		  }
		  aside.news {
			grid-area: news;
		  }

	}
	@media (min-width: 768px) {
		.main {
			grid-area: main;
			grid-template-areas:
			  "content content sidebar";
			grid-template-columns: 2fr 2fr 3fr;
			grid-template-rows: 1fr;
		  }
		  .content {
			  grid-area: content;
			}
			aside {
				grid-area: sidebar;
			}
		}
		
		@media (min-width: 1280px) {
		.main {
			grid-template-columns: 1fr 1fr 1fr;
		  }

	}
</style>