---
import { getCollection } from "astro:content";
import HpStage from "../components/HpStage.astro";
import App from "../layouts/App.astro";
import HpCard from "../components/HpCard.astro";
import BadgeMini from "../components/BadgeMini.astro";

const posts = (await getCollection('start')).sort(
	(a, b) => a.data.order.valueOf() - b.data.order.valueOf()
);
---

<App>
  <HpStage />
  <main class="container mx-auto px-2 py-4 overflow-hidden">
	<aside>
		<HpCard>
			<div class="flex gap-2 justify-between items-center" slot="title">
				<h2 class="font-bold text-lg">Veranstaltungen</h2>
				<a class="text-xs text-center font-semibold inline-flex gap-2 items-center py-2 px-4 justify-center rounded-full bg-slate-100 hover:bg-slate-200" href="/veranstaltungen/" title="Alle Veranstaltungen anzeigen">Alle Termine →</a>
			</div>
			<ul class="whitespace-nowrap">
				<li class="">
					<a href="/veranstaltungen/2023-kirchweih" class="inline-flex flex-row gap-2 overflow-hidden max-w-full block py-2" title="Kirchweih: Merch essen">
						<BadgeMini>
							<span class="font-semibold">Do, 14.09.2023</span>
						</BadgeMini>
						<span class="underline underline-offset-2 decoration-slate-300 hover:decoration-slate-500 overflow-hidden text-ellipsis">Kirchweih: Merch essen</span>
					</a>
				</li>
				<li class="">
					<a href="/veranstaltungen/2023-spanferkel" class="inline-flex flex-row gap-2 overflow-hidden max-w-full block py-2 pb-0" title="Spanferkel-Grillfest">
						<BadgeMini>
							<span class="font-semibold">Sa, 29.07.2023</span>
						</BadgeMini>
						<span class="underline underline-offset-2 decoration-slate-300 hover:decoration-slate-500 overflow-hidden text-ellipsis">Spanferkel-Grillfest</span>
					</a>
				</li>
			</ul>
		</HpCard>
	</aside>
    <section class="prose py-4">
		{
			posts.map(async (post) => {
            	const { Content } = await post.render();
            	return (
						<Content />
				)
          	})
		}
	</section>
  </main>
</App> 