---
import { getCollection } from "astro:content";
import HpStage from "../components/HpStage.astro";
import App from "../layouts/App.astro";

const posts = (await getCollection('start')).sort(
	(a, b) => a.data.order.valueOf() - b.data.order.valueOf()
);
---

<App>
  <HpStage />
  <main class="container mx-auto px-2">
    <section>
			<ul>
				{
					posts.map(async (post) => {
            const { Content } = await post.render();
            return (
						<li class="prose">
              <Content />
						</li>
					)
          } 
          )
				}
			</ul>
		</section>
  </main>
</App> 