---
---

<div class="wrapper">
	<img class="img" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
    <div class="description">
        <div class="name">Author Name</div>
        <div class="position">1. Vorstand</div>
    </div>
</div>
<style>
    .wrapper {
        @apply flex items-center gap-8 p-8
    }
.img {
    @apply inline-block h-16 w-16 rounded-full ring-2 ring-white drop-shadow
}
.name {
    @apply text-lg font-semibold
}
.position{
    @apply text-slate-400
}
</style>
