---
---

<div class="wrapper">
  <img
    class="img"
    src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
  />
  <div class="flex flex-col py-5 pl-24">
    <strong class="name">Authoren Name</strong>
    <span class="position">1. Vorstand</span>
  </div>
</div>
<style>
  .wrapper {
    @apply overflow-hidden relative max-w-sm mx-auto rounded-xl flex items-center gap-6 bg-gray-50;
  }
  .img {
    @apply absolute -left-6 w-24 h-24 rounded-full shadow-lg;
  }
  .name {
    @apply text-slate-900 text-sm font-medium;
  }
  .position {
    @apply text-slate-500 text-sm font-medium;
  }
</style>
