<span class="text-neutral-950 text-xs inline-flex gap-1 py-1 px-2 rounded-full bg-slate-100">
    <slot />
</span>

<style>
    span {
        font-variant-numeric: tabular-nums lining-nums;
    }
</style>