<span class="text-xs inline-flex gap-1 items-center py-1 px-2 justify-center rounded-full bg-slate-100">
    <slot />
</span>

<style>
    span {
        font-variant-numeric: tabular-nums lining-nums;
    }
</style>