---
const today = new Date();
---

<footer>
	<div class="bg-slate-100 mt-12 p-2">
		<div class="container mx-auto p-2 py-6 flex gap-2 justify-between items-center">
			<div class="flex gap-2">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 256"><path fill="currentColor" d="M240 204h-12v-88.45a20.07 20.07 0 0 0-6.44-14.7l-79.95-75.47l-.16-.15a19.93 19.93 0 0 0-26.91 0l-.17.15l-79.93 75.47a20.07 20.07 0 0 0-6.44 14.7V204H16a12 12 0 0 0 0 24h224a12 12 0 0 0 0-24ZM52 117.28l76-71.75l76 71.75V204h-40v-44a20 20 0 0 0-20-20h-32a20 20 0 0 0-20 20v44H52ZM140 204h-24v-40h24Z"/></svg>
				<small>
					<strong>Adresse</strong><br>
					SCO-OGV Oberfüllbach 1963 e.V. Sportheim<br>
					Lützelbucher Str. 7,
					96237 Ebersdorf-Oberfüllbach<br><br>
					<a href="mailto:info@sc-oberfuellbach.de">info@sc-oberfuellbach.de</a> 
				</small>
			</div>
			<div>
				<img width="68" src="/assets/cropped-Wappen-SCO-OGV-1.jpg" alt="SCO Logo" />
			</div>
		</div>
	</div>
	<div class="text-center mx-auto p-6">
		&copy; {today.getFullYear()} - Datenschutz - Impressum
	</div>
</footer>
<style>
	footer {
		grid-area: footer;
	}
</style>
