---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href && pathname.includes(href.toString());
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    @apply inline-flex items-center rounded-full hover:bg-slate-100 px-4 py-1 font-bold text-gray-700;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
  }
  a.active {
	@apply font-bold bg-red-700 text-neutral-200
  }
</style>
