---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="wrapper">
		<a href="/">{SITE_TITLE}</a>
		<nav>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/veranstaltungen">Veranstaltungen</HeaderLink>
			<HeaderLink href="/mitglieder">Mitglieder</HeaderLink>
		</nav>
	</div>
</header>
<style>
	header {
		@apply bg-white shadow-md sticky top-0 z-40
	}
	.wrapper {
		@apply container mx-auto px-2 py-4 flex justify-between items-center
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
