
  <nav>
    <button data-collapse-toggle="navbar-search" type="button" class="button bg-slate-100 hover:bg-slate-200" aria-controls="navbar-search" aria-expanded="false">
        <span class="sr-only">Hauptmenü öffnen</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
        <span class="font-semibold">Menü</span>
    </button>
  </nav>

  <style>
    .button {
      @apply inline-flex gap-2 items-center px-5 h-10 justify-center rounded-full md:hidden;
    }
  </style>