---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import HeaderMenu from './HeaderMenu.astro';
---

<header>
	<div class="wrapper text-gray-700">
		<a href="/" title={SITE_TITLE}>
			<img width="68" src="/assets/cropped-Wappen-SCO-OGV-1.jpg" alt="SCO Logo" />
		</a>
		<!-- <a href="https://flowbite.com/" class="flex items-center">
			<img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Flowbite Logo" />
			<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
		</a> -->
		<nav class="hidden md:block">
			<HeaderLink href="/veranstaltungen">Veranstaltungen</HeaderLink>
			<HeaderLink href="/mitglieder">Mitglieder</HeaderLink>
			<HeaderLink href="/blog">Sportheim</HeaderLink>
		</nav>
		<div class="md:hidden">
			<HeaderMenu />
		</div>
	</div>
</header>
<style>
	header {
		@apply bg-white shadow-md sticky top-0 z-40;
		grid-area: header;
	}
	.wrapper {
		@apply container mx-auto px-2 py-2 flex justify-between items-center;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
