---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href && pathname.includes(href.toString());
---

<a href={href} class:list={[className, 'link', { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    @apply flex gap-1
  }
  a.link {
    @apply inline-flex items-center rounded-full px-4 py-2 font-semibold hover:bg-slate-100 bg-neutral-50;
  }
  a.link.active {
	@apply bg-red-700 font-semibold text-neutral-200
  }
</style>
