---
import { getImage } from "astro:assets";
interface Props {
    image?: string;
    title?: string;
    blurred?: string;
}

const { image="/src/media/sco-heim.jpg", blurred="", title="SCO-OGV Oberfüllbach 1963 e.V." } = Astro.props;
const blurredSportheim = 'data:image/webp;base64,UklGRiABAABXRUJQVlA4IBQBAAAwBgCdASogABEAPpE6mEelo6KhMAgAsBIJQBOmZJPM2AYb5oUZfdNHhBAq4yMoaEf2yQBQih8SlFwAAP723OqtTKJWDavbbQMhH6NkPJTz5v0WH1xy5poQ8lubretaAmVhUnci0cjkYZli7fbfkL+S6lWRRKYDBntZ6fm412BYmciysp5/9PEUB1uXBKB1an6OYJGvzx4//k1vWYmQS205ljiQCfeaXYRXXsGtaQddMMT6q+nVfZ3DBYF9UJ5LqesE1LANH1F1EHu8OaZn488oxgEgB2YOq4+EvtIKQXxjrYmfPc9cIEHEtBFzWF6Mp6ukUVy15lL4YRHfO/0kFxfnMwUKj5Fp7u8vl1yqSbiZs0gAAAA=';
const blurredSportheim_summer = 'data:image/webp;base64,UklGRugAAABXRUJQVlA4INwAAACwBACdASoZAA0APm0skkWkIqGYBABABsSzAE6ZQj5LdKAov1q6nHGy+Xpl27uwAP7Q/7o/Tslx3+h84WLMaigrzFsyK3vAjPwBA+VZPeoQhqyZrVinctCuLQNbjVT0z4kXGzp7KVeOy1AlRl2c3U+kX2/P/JAi0KvugkzcYSoT/A3j83815YB9jnTVHp3wEdDvyahD2xr6EmjG1RcESn4yD93xkojNl2AONqK4ZKS5qzedZi3K9diKr+62EgMe2lFdD9I8VMaRaYK3HE1et9Uak/l9M4tgXlKHmAAA';
const blurredBg = blurred ? `url('${blurred}')` : `url('${blurredSportheim}')`;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/media/**/*.{jpeg,jpg,png,gif}');
const finalImageUrl = image;
if (!images[finalImageUrl]) throw new Error(`"${finalImageUrl}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
// const optimizedBackgroundXs = await getImage({src: images[finalImageUrl](), width:'50', height:'26'});
const optimizedBackgroundXs = await getImage({src: images[finalImageUrl](), width:'500', height:'264'});
const optimizedBackgroundSm = await getImage({src: images[finalImageUrl](), width:'1000', height:'528'});
const optimizedBackgroundMd = await getImage({src: images[finalImageUrl](), width:'1500', height:'792'});
const optimizedBackgroundLg = await getImage({src: images[finalImageUrl](), width:'2000', height:'1056'});
const optimizedBackgroundXsSrc = `url('${ optimizedBackgroundXs.src}')`;
const optimizedBackgroundSmSrc = `url('${ optimizedBackgroundSm.src}')`;
const optimizedBackgroundMdSrc = `url('${ optimizedBackgroundMd.src}')`;
const optimizedBackgroundLgSrc = `url('${ optimizedBackgroundLg.src}')`;
---
<div class="stage-wrapper">
    <div class="stage">
        <div class="content">
            <h1 class="headline font-bold py-4 md:py-8">{title}</h1>
        </div>
    </div>
</div>

<style define:vars={{ blurredBg, optimizedBackgroundXsSrc, optimizedBackgroundSmSrc, optimizedBackgroundMdSrc, optimizedBackgroundLgSrc}}>
    .stage-wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        background-image: var(--blurredBg);
    }
    .stage {
        min-height: 50vw;
        display:flex;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
        z-index: 2;
        background-color: transparent;
        backdrop-filter: blur(30px);
    }
    @media (min-width: 640px) {
        .stage {
            min-height: min(40vw, 50vh);
        }
    }
    .stage::before {
        content:"";
        display:block;
        z-index:1;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        position: absolute;
        background-image: var(--optimizedBackgroundSmSrc);
    }
    @media (max-width:425px) {
        .stage::before {
            background-image: var(--optimizedBackgroundXsSrc);
        }
    }
    @media (min-width:1024px) {
        .stage::before {
        background-image: var(--optimizedBackgroundMdSrc);
    }
    }
    @media (min-width:1440px) {
        .stage::before {
        background-image: var(--optimizedBackgroundLgSrc);
    }
    }
    .stage::after {
        content:"";
        display:block;
        z-index:1;
        bottom:0;
        left:0;
        right:0;
        height:50%;
        position: absolute;
        background-image: linear-gradient(180deg,rgba(35,32,39,0) 0,rgba(35,32,39,.011) 8.1%,rgba(35,32,39,.042) 15.5%,rgba(35,32,39,.09) 22.5%,rgba(35,32,39,.153) 29%,rgba(35,32,39,.226) 35.3%,rgba(35,32,39,.306) 41.2%,rgba(35,32,39,.392) 47.1%,rgba(35,32,39,.478) 52.9%,rgba(35,32,39,.564) 58.8%,rgba(35,32,39,.644) 64.7%,rgba(35,32,39,.717) 71%,rgba(35,32,39,.78) 77.5%,rgba(35,32,39,.828) 84.5%,rgba(35,32,39,.859) 91.9%,rgba(35,32,39,.87));
    }


    .content {
       @apply mx-auto container text-neutral-200 px-4;
    }
    .content > * {
        position: relative;
        z-index:10;
    }

    .headline {
        font-size: clamp(1.3em, 4vw, 3em);
    }
</style>