---
import type { CollectionEntry } from 'astro:content';
import App from '../layouts/App.astro';
import { Picture } from "astro-imagetools/components";
import FormattedDate from '../components/FormattedDate.astro';
import Author from '../components/Author.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<App>
	<main class="container mx-auto px-2">
		<article class="prose mx-auto">
			{heroImage && <div  class="not-prose"><Picture alt="descriptive text" src={heroImage} alt="" /></div>}

			<h1 class="title">{title}</h1>
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
					)
				}
			<slot />
			<Author />
		</article>
	</main>
</App>
		

<style>
</style>